html, body{
	height:100%;
	margin:0;
}

.top {
    font-family: arial, sans-serif;
    width: 100%;
    margin-left: auto;
    height: 30px;
    font-size: 14px;
    text-align: right;
    padding-top: 15px;
}


.top a {
    color: black;
    margin-right: 15px;
    text-decoration: none;
    display: inline-block;
}

.top a:visited {
    color: black;
}

#blue-button {
    color: white;
    text-align: center;
    display: inline-block;
    line-height: 28px;
    padding: 0px 12px;
    border-radius: 3px;
    border: 1px solid #4285F4;
    font-weight: bold;
    background: #4285F4;
    text-decoration: none;
    margin-top: -5px;
}

.middle {
    margin: 100px auto 0 auto;
    text-align: center;
}

img {
    width: 664px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.search {
    width: 600px;
    height: 35px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.grey-button {
    font-family: arial, sans-serif;
    font-weight: bold;
    display: inline-block;
    height:  36px;
    width: 150px;
    margin: 11px 4px 11px 4px;
    text-align: center;
    font-size: 16px;
    padding: 16px 15px 0px 15px;
    background-color: #F2F2F2;
    color: #757575;
    border-radius: 3px;
}

.grey-button:hover {
    color: black;
    background-color: #F1F1F1;
    font-weight: bold;
    border: 1px solid black;
    height: 34px;
    width: 148px;
}

.bottom {
    height: 40px;
    width: 100%;
    background-color: #F2F2F2;
    position: fixed;
    bottom: 0;
    font-size: 14px;
}

.bottom {
    width: 100%;
    display: inline-block;
    padding-top: 10px; 
}

.bottom a {
    font-family: arial, sans-serif;
    color: #757575;
    margin-right: 24px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.left {
    float: left;
    text-align: center;
    margin: 5px;
}

.right {
    float: right;
    text-align: center;
    margin: 5px;
}